<div class="side-bar">
    <u class="main-list">
        <li class="option">
            <a class="redirect" href="">opcion 1</a>
        </li>
        <li class="option">
            <a class="redirect" href="">opcion 1</a>
        </li>
        <li class="option">
            <a class="redirect" href="">opcion 1</a>
        </li>
        <li class="option">
            <a class="redirect" href="">opcion 1</a>
        </li>
        <li class="option">
            <a class="redirect" href="">opcion 1</a>
        </li>
    </u>
</div>
