<div class="init_home">
    <div class="header">Curso de Angular</div>
    <div class="descripcion">Bienvenido al curso basico de Angular.</div>
    <div class="contenido">Aprenderas mucho sobre SPA y las nuevas formas de programacion de vistas</div>
    <div class="containes">
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://i.dlpng.com/static/png/7172798_preview.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-12 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://i.dlpng.com/static/png/7172798_preview.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

