.navbar{
    background-color: rgb(2, 165, 10) !important;
}
.navbar-brand{
    color: white;
    font-weight: bold;
}

.navbar-toggler,
.navbar-toggler-icon{
    color: white !important;
}

.nav-link{
    color: white !important;
}

.nav-link:hover{
    background-color: rgb(1, 116, 7) !important;
    padding-left: 10px;
    border-radius: 10px; 
}

.nav-link.active{
    background-color: rgb(1, 116, 7) !important;
    padding-left: 10px;
    border-radius: 10px; 
}
